# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# macOS & Linux
.DS_Store
*.swp

# Virtual environment
venv/
.env/
.venv/

# Logs
*.log

# PyInstaller
*.spec
dist/
build/

# Coverage reports
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover

# MyPy
.mypy_cache/
.dmypy.json

# Pytest
.pytest_cache/
